@import "_variables.scss";

.flowers {
  width: 65rem;
  height: 45rem;
  background-color: rgb(59, 255, 59);
  border: green 5px solid;
}

.bouquet {
  margin: 3rem;
  position: relative;
}

.flower {
  position: absolute;
  height: 20rem;
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
  outline-offset: 1rem;
  transition: all 0.3s;
}

.flower:hover {
  transform: scale(1.3);
  box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.bouquet:hover .flower:not(:hover) {
  transform: scale(0.8);
  opacity: 0.3;
}

.sentimental {
  top: 16.5rem;
  left: 27%;
}

.sentimental:hover {
  outline: 1rem solid color(blue);
}

.paradise {
  top: 5rem;
  left: 7%;
}

.paradise:hover {
  outline: 1rem solid color(orange);
}

.lily {
  top: 2.5rem;
  left: 42%;
}

.lily:hover {
  outline: 1rem solid color(white);
}
