@import "_variables.scss";

.forget {
  height: 40rem;
  transition: all 3s;
  border-radius: 20%;
}

.forget:hover {
  transform: scale(0.1);
  opacity: 0%;
  border-radius: 60%;
  border-radius: 70%;
}
