html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$fontTitle: ("Great Vibes", cursive);
$fontSunflower: ("Sacramento", cursive);
$fontButton: ("Source Code Pro", monospace);

$colors: (
  white: #fff,
  orange: rgb(255, 165, 0),
  black: #000,
  green: rgb(0, 128, 0),
  blue: rgb(0, 0, 255),
  lime: rgb(0, 255, 0),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
