html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$fontTitle: ("Great Vibes", cursive);
$fontSunflower: ("Sacramento", cursive);

$colors: (
  white: #fff,
  orange: rgb(255, 196, 0),
  black: #000,
  green: rgba(20, 255, 90, 0.692),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
