html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*.button,
.button:link,
.button:visited {
  text-transform: uppercase;
  text-decoration: none; /*work on*/
/*add hover color change */
/*padding: 1.5rem 4rem;
  background-color: color(green);
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem; /*rounds the border edges, can change*/
/*transition: all 0.3s; /*timing of transition to hover*/
/*position: relative;
}

.button-red {
  background-color: color(green);
  color: #fff;
}

/*hover starts below*/
/*.button-red::after {
  background-color: color(green);
  color: #fff;
}

.button:hover {
  /*transform: scale(1.25);     scale up by 1.25*/
/*transform: translateY(-2px); /*move up by 2px*/
/*box-shadow: 0 10px 0.5rem rgba(color(black), 0.6);   increase 0.6 to darken shadow
}

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%; /*100%= same width+height of base class "button"*/
/*border-radius: 10rem;
  position: absolute; /*creates afterimage */
/*top: 0;
  left: 0;
  z-index: -1; /*order of z axis*/
/*transition: all 0.3s;
}

.buttom:hover::after {
  transform: scaleX(1.5) scaleY(1.6); /*transform cannot be used twice so use in same line*/
/*opacity: 0;
}

.button:active {
  transform: translateY(-1px);
  transform: scaleX(1.5) scaleY(1.6);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}*/
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  background-color: green;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Source Code Pro", monospace;
}

.button:hover {
  letter-spacing: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.button:active {
  letter-spacing: 5px;
}

.button::after {
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 0;
}

.button:hover:after,
.button:hover:before {
  border-color: white;
  -webkit-transition: width 1s;
  transition: width 1s;
  width: 70%;
  text-decoration: none;
}

.button:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.button-body {
  background-color: green;
  height: 4.5rem;
  width: 20rem;
  margin: 3rem 3rem 3rem 3rem;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.forget {
  height: 20rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}

.forget:hover {
  border-radius: 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-effect {
  background-image: url("./media/blossoms.jpg");
  background-position: center;
  padding: 3rem 3 rem 3rem 3rem;
  color: transparent;
  font-size: 8rem;
  font-family: "Great Vibes", cursive;
  -webkit-background-clip: text;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*remember to add*/
}

.text-effect:hover {
  letter-spacing: 1.5rem;
  font-weight: 900;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flora {
  height: 30rem;
  position: relative;
  padding: 10rem 3rem 10rem 3rem;
}

.sunflower-field {
  height: 30rem;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  -webkit-clip-path: ellipse();
          clip-path: ellipse();
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sunflower {
  font-size: 2.5rem;
  font-family: "Sacramento", cursive;
  text-shadow: green 2px 2px;
  opacity: 0;
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
}

.flora:hover .sunflower-field {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-filter: none;
          filter: none;
}

.flora:hover .sunflower {
  opacity: 1;
  top: 20%;
  color: orange;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flowers {
  width: 65rem;
  height: 45rem;
  background-color: #3bff3b;
  border: green 5px solid;
}

.bouquet {
  margin: 3rem;
  position: relative;
}

.flower {
  position: absolute;
  height: 20rem;
  -webkit-box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
  outline-offset: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.flower:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.bouquet:hover .flower:not(:hover) {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
}

.sentimental {
  top: 16.5rem;
  left: 27%;
}

.sentimental:hover {
  outline: 1rem solid #4f7ead;
}

.paradise {
  top: 5rem;
  left: 7%;
}

.paradise:hover {
  outline: 1rem solid #ffc400;
}

.lily {
  top: 2.5rem;
  left: 42%;
}

.lily:hover {
  outline: 1rem solid #fff;
}

.container {
  width: 80vh;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */